<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>

<body>
    <header>
        <div class="header-bar"></div>
        <div class="header-circle"></div>
        <!-- <img class="header-sportal-logo" src="imgs/sportal_logo_000.png"> -->
        <div class="header-login" href="/menu.html">
            Login
            <i class="far fa-user-circle"></i>
        </div>
        <div class="header-search-box">
            <form action="/search" method="GET">
                <input class="header-search-input" type="text" name="search-string" placeholder="Ingrese su búsqueda"
                    autocomplete="false">
            </form>
            <i class="fas fa-search header-glass"></i>
        </div>

        <!-- <img class="header-glass" src="imgs/magnifying-glass.png"> -->
        <a class="header-menu" href="/menu.html"><i class="fas fa-bars"></i></a>
        <!-- <img class="header-menu" src="imgs/menu.png" href="/menu.html"> -->
        <div class="header-banner"></div>
    </header>

    <main>
        <!-- <div id="header-spacer"></div> -->
        <div class="grid">
            <div class="img1"><a href="/producto">
                <img class="image" src="imgs/ferrari/20020512.jpg">
                <div class="description">Calzado</div>
            </a></div>
            <div class="img2">
                <img class="image" src="imgs/ferrari/20020527.jpg">
                <div class="description">Equipo</div>
            </div>
            <div class="img3">
                <img class="image" src="imgs/ferrari/20020528.jpg">
                <div class="description">Carga</div>
            </div>
            <div class="img4">
                <img class="image" src="imgs/ferrari/20020607.jpg">
                <div class="description">Agua</div>
            </div>
            <div class="img5">
                <img class="image" src="imgs/ferrari/20020612.jpg">
                <div class="description">Tech</div>
            </div>
            <div class="img6">
                <img class="image-basicos" src="imgs/ferrari/20020618.jpg">
                <div class="description-basicos">Básicos</div>
            </div>
            <div class="img7">
                <img class="image-portatiles" src="imgs/ferrari/20020721.jpg">
                <div class="description">Portátiles</div>
            </div>
            <div class="img8">
                <img class="image" src="imgs/ferrari/20020809.jpg">
                <div class="description">Electro</div>
            </div>
        </div>
        <!-- <div id="footer-spacer"></div> -->
    </main>

    <footer>
        <div class="footer-bar">
            <div class="footer-icons">
                <i class="fab fa-telegram-plane"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-square"></i>

                <!-- <img class="telegram-icon" src="imgs/telegram.svg">
                <img class="instagram-icon" src="imgs/instagram.svg">
                <img class="twitter-icon" src="imgs/twitter.svg">
                <img class="facebook-icon" src="imgs/facebook.svg"> -->
            </div>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
        </div>
    </footer>
</body>

</html>