<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./css/styles.css" rel="stylesheet" /> -->
    <link href="./css/grid.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>

<body>
    <div id="container">

        <!-- HEADER--------------------------------------------------------- -->
        <header id="header2">
            <div id="header-upper"></div>
            <div id="header-banner"></div>
            <div id="header-circle"></div>

            <a id="header-login" href="/login" target="_self">Login
                <i class="far fa-user-circle"></i>
            </a>

            <div id="header-search-fill"></div>

            <div id="header-search-box">
                <form action="/search" method="GET">
                    <input class="header-search-input" type="text" name="search-string"
                        placeholder="Ingrese su búsqueda" autocomplete="false">
                </form>

            </div>

            <i id="header-glass" class="fas fa-search"></i>
            <nav id="header-menu">
                <ul class="header-menu">
                    <li><a href="/productos" target="_self">Básicos</a></li>
                    <li><a href="/productos" target="_self">Calzado</a></li>
                    <li><a href="/productos" target="_self">Equipo</a></li>
                    <li><a href="/productos" target="_self">Carga</a></li>
                    <li><a href="/productos" target="_self">Agua</a></li>
                    <li><a href="/productos" target="_self">Tech</a></li>
                    <li><a href="/productos" target="_self">Portátiles</a></li>
                    <li><a href="/productos" target="_self">Electro</a></li>
                </ul>
            </nav>

            <a id="header-sandwich" href="/"><i class="fas fa-bars"></i></a>




        </header>
        <!-- BREADCUMB-------------------------------------------------------------- -->
        <!-- <nav id="breadcumb"></nav> -->

        <!-- MAIN--------------------------------------------------------------------------- -->
        <main id="main2">
            <div id="main-container">
                <a href="/productos" target="_self" class="link-cat link01">
                    <div class="item-cat">
                        <div class="pict">Calzado</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link02">
                    <div class="item-cat">
                        <div class="pict">Equipo</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link03">
                    <div class="item-cat">
                        <div class="pict">Carga</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link04">
                    <div class="item-cat">
                        <div class="pict">Básicos</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link05">
                    <div class="item-cat">
                        <div class="pict">Agua</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link06">
                    <div class="item-cat">
                        <div class="pict">Portátiles</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link07">
                    <div class="item-cat">
                        <div class="pict">Electro</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link08">
                    <div class="item-cat">
                        <div class="pict">Ofertas</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link09">
                    <div class="item-cat">
                        <div class="pict">Saldos</div>
                    </div>
                </a><a href="/productos" target="_self" class="link-cat link10">
                    <div class="item-cat">
                        <div class="pict">Novedades</div>
                    </div>
                </a>

                
            </div> 

        </main>

        <!-- FOOTER-------------------------------------------------------------------------------- -->
        <footer id="footer2">
            <div id="footer-bar">
                <a class="info" href="http://" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-info"></i>
                </a>
                <div id="footer-icons">
                    <a href=""><i class="fab fa-telegram-plane"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                </div>

            </div>

        </footer>

    </div>

</body>

</html>