<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/productCats.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <title>Sportal - Categorías</title>
  </head>

    <body>
        <header>
            <div class="header-bar"></div>
            <div class="header-circle"></div>
            <div class="header-login" href="/menu.html">
                Login
                <i class="far fa-user-circle"></i>
            </div>
            <div class="header-search-box">
                <form action="/search" method="GET">
                    <input class="header-search-input" type="text" name="search-string" placeholder="Ingrese su búsqueda" autocomplete="false">
                </form>
                <i class="fas fa-search header-glass"></i>
            </div>
            <a class="header-menu" href="/menu.html"><i class="fas fa-bars"></i></a>
            <div class="header-banner"></div>
        </header>

        <main>
            <div class="filters">
                <div class="goback-link">
                    <a href="http://" target="_blank" rel="noopener noreferrer"><img src="imgs/icons/home.png" alt="home"></a>
                    <a>> Carrito de Compras</a>
                    <a>> Subcategoría</a>
                  </div>

                <div class="filtering">
                    <div class="filter-title">Filtrar:</div>
                    <select class="filter-options" name="cat-filter">
                    <option value="adulto-hombre">Adulto - Hombre</option>
                    <option value="adulto-mujer">Adulto - Mujer</option>
                    <option value="ninos-hombre">Niños - Hombre</option>
                    <option value="ninos-mujer">Niños - Hombre</option>
                    </select>
                </div>
                <div class="sorting" name="cat-sort">
                    <div class="sort-title">Ordenar:</div>
                    <select class="sort-options">
                    <option value="mayor-precio">Mayor precio</option>
                    <option value="menor-precio">Menor precio</option>
                    <option value="mas-vendido">Mas vendido</option>
                    </select>
                </div>

            </div>

            <div class="grid-art">
                <div class="art1">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20020812.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 3.200,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logoadidas.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art2">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20020822.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad.</div>
                            <div class="precio">$ 13.700,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logotopper2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art3">
                    <div class="lower-rect3">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20020828.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description3">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 13.700,00</div>
                            <div class="icon3-info">
                                <img class="icon3" src="imgs/logoasics2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art4">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20020917.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 11.700,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logoconverse.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art5">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20021001.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 13.000,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logofila2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art6">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20021005.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 12.500,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logolotto2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art7">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20021202.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 12.200,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/logounderarmour2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art8">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20030123.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 14.400,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/nike2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="art9">
                    <div class="lower-rect">
                        <div class="middle-rect">
                            <!--<img class="image" src="imgs/ferrari/20030125.jpg">-->
                            <div class="image"></div>
                        </div>
                        <div class="flex-dpii">
                            <div class="description">Producto de buena calidad con materiales de primera calidad. Producto importado la Union Europea.</div>
                            <div class="precio">$ 11.700,00</div>
                            <div class="icon-info">
                                <img class="icon" src="imgs/puma2.png">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-bar">
                <div class="footer-icons">
                    <i class="fab fa-telegram-plane"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                </div>
                <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info info"></i></a>
            </div>
        </footer>
    </body>
</html>