@import url("normalize.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
}

#container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    /* breadrumb 90px puesto */
    grid-template-rows: 266px 90px 1fr 60px;
}

@media (min-width:600px) {
    #container {
        /* breadrumb 50px puesto */
        grid-template-rows: 266px 50px 1fr 60px;
    }
}


#header2,
#breadcrumb,
#main2,
#footer2 {
    display: block;
}

/* HEADER --------------------------------------------------- */
#header2 {
    display: grid;
    grid-template-columns: 72px 72px calc(50vw - 144px - 56px) 56px 1fr 56px 56px 20px;
    grid-template-rows: 72px 16px 40px 16px 1fr;
}


#header-upper {
    grid-row: 1 / span 1;
    grid-column: 1 / span 8;
    background-color: #950000;
    z-index: -1;
}

#header-banner {
    grid-row: 2 / span 4;
    grid-column: 1 / span 8;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../imgs/sport/run.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    z-index: -2;
    border-bottom: 2px solid white;
}

#header-circle {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
    background-image: url(/imgs/sportal_logo_000.png);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #950000;
    border-radius: 0 0 50% 50%;
}

#header-login {
    text-decoration: none;
    grid-row: 1 / span 1;
    grid-column: 5 / span 3;
    color: white;
    font-size: 20px;
    align-self: center;
    text-align: end;
}

#header-login a:link,
#header-login a:visited,
#header-login a:active {
    color: white;
}

#header-login:hover {
    color: black;
}

#header-search-fill {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

#header-search-box {
    grid-row: 2 / span 2;
    grid-column: 3 / span 4;

    background-color: white;
    border-radius: 0 28px 28px 0;

    border: none;
}

#header-search-box input {
    border: none;
    width: calc(100% - 56px);
    height: 56px;
    position: relative;
    outline: none;
}

#header-glass {
    display: block;
    grid-row: 2 / span 2;
    grid-column: 6 / span 1;
    font-size: 1em;
    color: #707070;
    z-index: 2;
    align-self: center;
    text-align: center;
}

#header-menu {
    grid-row: 3 / span 1;
    grid-column: 5 / span 3;
    align-self: start;
    z-index: 3;
    display: none;
}

#header-menu ul {
    list-style-type: none;
}

.header-menu li {
    float: left;
}

.header-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    padding: 4px 6px 0 6px;
}

.header-menu a:link,
.header-menu a:visited,
.header-menu a:active {
    color: white;
}

.header-menu a:hover {
    color: black;
}

#header-sandwich {
    grid-row: 3 / span 1;
    grid-column: 7 / span 1;
    text-align: end;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.7em;
    display: block;
}

@media (min-width: 600px) {
    #header-search-box {
        grid-column: 3 / span 2;
    }

    #header-glass {
        grid-column: 4 / span 1;
    }

    #header-sandwich {
        display: none;
    }

    #header-menu {
        display: block;
    }
}



/* breadcrumb-------------------------------------------------------- */
#breadcrumb {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#breadcrumb-link, #breadcrumb-span {
    margin-left: 15px;
    height: auto;
    color: #950000;
    font-weight: 400;
    text-decoration: none;
}

#breadcrumb-link img {
    transform: translateY(2px);
    height: 1.3em;
    filter: invert(9%) sepia(73%) saturate(5980%) hue-rotate(358deg) brightness(89%) contrast(112%);
}

#breadcrumb-link a:visited,
#breadcrumb-link a:link,
#breadcrumb-link a:active {
    color: #950000
}

#breadcrumb-link a:hover {
    color: black
}

#breadcrumb-selectors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 14px;
}

#breadcrumb-selectors #filtering,
#breadcrumb-selectors #sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 14px;
}

#breadcrumb-selectors #filtering,
#breadcrumb-selectors #sorting {
    width: 95vw;
    height: 30px;
    border: #707070 1px solid;
    border-radius: 20px;
    margin: 0 5px;
    color: #707070;
    padding-bottom: 3px;
}

#breadcrumb-selectors #filter-options,
#breadcrumb-selectors #sort-options {
    border: none;
    color: #707070;

}

@media (min-width:600px) {
    #breadcrumb {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #breadcrumb-selectors,
    #breadcrumb-selectors #filtering,
    #breadcrumb-selectors #sorting {

        flex-direction: row;

    }

    #breadcrumb-selectors #filtering,
#breadcrumb-selectors #sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 14px;
}

#breadcrumb-selectors #filtering,
#breadcrumb-selectors #sorting {
    width: 15em;
    height: 30px;
    border: #707070 1px solid;
    border-radius: 20px;
    margin: 0 5px;
    color: #707070;
    padding-bottom: 3px;
}
}


/* MAIN---------------------------------------------------------- */

#main2 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

#main-container {
    display: grid;
    grid-template-columns: repeat(2, calc(100vw / 2));
    grid-template-rows: repeat(6, calc((100vw / 2) * 1.5));
    /* border:2px red solid; */
    background-color: #ddd;
    grid-gap: 1px;
    overflow-x: hidden;
    overflow-y: scroll;


}

.item {
    padding: 10px;
    background-color: white;

}

.cell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 63.75%;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: calc(100vw / (3 * 8));
    box-shadow: #eee 2px 2px 8px;
}

.pict {
    width: 100%;
    height: 100%;
    background-color: #AAA;
    border-radius: calc(100vw / (2 * 8));
    background-image: url(../imgs/sport/run-update-2021-500x356-2.webp);
    background-position: center;
    background-size: cover;
}

.producto-ficha {
    font-size: 12px;
    color: #950000;
    overflow: hidden;
    padding: 10px;
}

.precio {
    float: right;
    color: #707070;
    font-weight: 700;
    font-size: 1.1em;
}

.icon-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    max-width: 80px;
    margin-left: -10px;
    margin-top: -10px;
}

.info {
    font-size: 1.5em;
    color: #950000;
}

@media (min-width: 400px) {
    #main-container {
        grid-template-columns: repeat(3, calc(100vw / 3));
        grid-template-rows: repeat(5, calc((100vw / 3) * 1.5));
    }

    .pict,
    .cell {
        border-radius: calc(100vw / (3 * 8));
    }

    .producto-ficha {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    #main-container {
        grid-template-columns: repeat(4, calc(100vw / 4));
        grid-template-rows: repeat(5, calc((100vw / 4) * 1.5));
    }

    .pict,
    .cell {
        border-radius: calc(100vw / (4 * 8));
    }

    .producto-ficha {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    #main-container {
        grid-template-columns: repeat(5, calc(100vw / 5));
        grid-template-rows: repeat(4, calc((100vw / 5) * 1.5));
    }

    .pict,
    .cell {
        border-radius: calc(100vw / (5 * 8));
    }

    .producto-ficha {
        font-size: 16px;
    }

}




/* FOOTER-------------------------------------------------------------------------------- */

#footer2 {
    background-color: #950000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid white;
}

#footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;
}

#footer-bar .info {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: white;
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
}


#footer-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    color: white;
}

#footer-icons i {
    color: white;
    font-size: 1.4rem;
}

#footer-icons a:link,
#footer-icons a:visited,
#footer-icons a:active {
    color: white;
}

#footer-bar i:hover {
    color: black;
}

#footer-bar .info:hover {
    color: black;
    border: 2px black solid;
}